<!DOCTYPE html>
<!-- define angular app -->
<html ng-app="Editorial">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="/bower_components/angular/angular-csp.css" />

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/stamplay.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-stamplay/angular-stamplay.js"></script>
    <script src="script.js"></script>
  </head>
  <!-- define angular controller -->
  <body>
    <script> Stamplay.init("editorial"); </script>
     <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Story</h3>
        </div>
        <div class="modal-body">
          <p class="form-group">
            <label>Story Title</label>
            <input type="text" ng-model="data.storyTitle" class="form-control">
          </p>
          <p class="form-group">
            <label>Story Description</label>
            <input type="text" ng-model="data.storyDescription" class="form-control">
          </p>
          <p class="form-group">
            <label>ETA</label>
            <input type="date" ng-model="data.eta" class="form-control">
          </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <nav class="navbar navbar-default" style="margin-bottom: 10px;">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" style="font-size: 195%;">List of Stories</a>
        </div>
      </div>
    </nav>
    <div id="main">
      <div ng-view></div>
    </div>
    <footer class="text-center">
    </footer>
  </body>
</html>

