<div class="container" style="margin-right: 70px;margin-left: 70px;">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6" ng-repeat="list in storylist" align="center" style="padding-left: 40px !important;padding-right: 40px;">
				<div style="background: #ddd;border-radius: 10px;">
					<h3 style="padding-top: 15px;padding-bottom: 15px;margin-bottom: 3px;">{{list.storyTitle}}</h3>
				</div>
				<div style="background: #F5F5F5;border-radius: 10px;">
					<div align= "left">
						<p style="font-size: 125%;margin-left: 10px;color: #565656;">Description:- {{list.description}}</p>
					</div>
					<div class="row">
						<div class="col-xs-6" align= "left">
							<p style="font-size: 100%;margin-left: 10px;color: #565656;">ETA:- {{list.eta}}</p>
						</div>
						<div class="col-xs-6" align= "right">
							<p class='btn btn-default' style="font-size: 100%;margin-right: 10px;color: #565656;padding-top: 0px;padding-bottom: 0px;background: #ddd;" ng-click="open($index)">Edit Story</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
